@charset "UTF-8";
/** 
	* Filename:     custom-style.css
	* Version:      1.0.0 (2016-03-05)
	* Website:      http://www.support.com
	* Description:  Global Styles
	* Author:		support Team
					support@support.com
**/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/* Colors*/
/*Variables*/
/*Header*/
/*Menu Color*/
/*Mixins*/
/** @file Styles for system messages. */
.messages { background: no-repeat 10px 17px; /* LTR */ border: 1px solid; border-width: 1px 1px 1px 0; /* LTR */ border-radius: 2px; padding: 15px 20px 15px 20px; /* LTR */ word-wrap: break-word; overflow-wrap: break-word; margin: 5px 0px; }

.messages + .messages { margin-top: 1.538em; }

.messages__list { list-style: none; padding: 0; margin: 0; }

.messages__item + .messages__item { margin-top: 0.769em; }

/* See .color-success in Seven's colors.css */
.messages--status { color: #325e1c; background-color: #f3faef; border-color: #c9e1bd #c9e1bd #c9e1bd transparent; /* LTR */ box-shadow: -8px 0 0 #77b259; /* LTR */ }

/* See .color-warning in Seven's colors.css */
.messages--warning { background-color: #fdf8ed; border-color: #f4daa6 #f4daa6 #f4daa6 transparent; /* LTR */ color: #734c00; box-shadow: -8px 0 0 #e09600; /* LTR */ }

/* See .color-error in Seven's colors.css */
.messages--error { background-color: #fcf4f2; color: #a51b00; border-color: #f9c9bf #f9c9bf #f9c9bf transparent; /* LTR */ box-shadow: -8px 0 0 #e62600; /* LTR */ }

.messages--error p.error { color: #a51b00; }

/*FORM*/
/** @file Visual styles for form components. */
form .field-multiple-table { margin: 0; }

form .field-multiple-table .field-multiple-drag { width: 30px; padding-right: 0; /*LTR*/ }

form .field-multiple-table .field-multiple-drag .tabledrag-handle { padding-right: .5em; /*LTR*/ }

form .field-add-more-submit { margin: .5em 0 0; }

/*TABS*/
div.tabs { margin: 1em 0; }

ul.tabs { list-style: none; margin: 0 0 0.5em; padding: 0; }

.tabs > li { display: inline-block; margin-right: 0.3em; /* LTR */ }

.tabs a { display: block; padding: 6px 10px; text-decoration: none; font-size: 13px; background: #e6e6e6; line-height: 100%; color: #444; }

.tabs a.is-active { background-color: #fd2626; color: #fff; }

.tabs a:focus, .tabs a:hover { background-color: #ea1616; color: #fff; }

/** @file Seven styles for Tables. */
table { width: 100%; margin: 0 0 10px; }

caption { text-align: left; /* LTR */ }

th { text-align: left; /* LTR */ padding: 10px 12px; }

thead th { background: #f5f5f2; border: solid #bfbfba; border-width: 1px 0; color: #333; text-transform: uppercase; }

tr { border-bottom: 1px solid #e6e4df; padding: 0.1em 0.6em; }

thead > tr { border-bottom: 1px solid #000; }

tbody tr:hover, tbody tr:focus { background: #f7fcff; }

/* See colors.css */
tbody tr.color-warning:hover, tbody tr.color-warning:focus { background: #fdf8ed; }

tbody tr.color-error:hover, tbody tr.color-error:focus { background: #fcf4f2; }

td, th { vertical-align: middle; }

td { padding: 10px 12px; text-align: left; /* LTR */ }

th > a { position: relative; display: block; }

/* 1. Must match negative bottom padding of the parent <th> */
th > a:after { content: ''; display: block; position: absolute; top: 0; bottom: -10px; /* 1. */ left: 0; right: 0; border-bottom: 2px solid transparent; -webkit-transition: all 0.1s; transition: all 0.1s; }

th.is-active > a { color: #004875; }

th.is-active img { position: absolute; right: 0; /* LTR */ top: 50%; }

th.is-active > a:after { border-bottom-color: #004875; }

th > a:hover, th > a:focus, th.is-active > a:hover, th.is-active > a:focus { color: #008ee6; text-decoration: none; }

th > a:hover:after, th > a:focus:after, th.is-active > a:hover:after, th.is-active > a:focus:after { border-bottom-color: #008ee6; }

td .item-list ul { margin: 0; }

td.is-active { background: none; }

/* Force browsers to calculate the width of a 'select all' TH element. */
th.select-all { width: 1px; }

/** Captions. */
.caption { margin-bottom: 1.2em; }

/** Responsive tables. */
@media screen and (max-width: 37.5em) { /* 600px */
  th.priority-low, td.priority-low, th.priority-medium, td.priority-medium { display: none; } }
@media screen and (max-width: 60em) { /* 920px */
  th.priority-low, td.priority-low { display: none; } }
p { margin: 0 0 20px 0; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4 { color: #000; font-weight: 500; margin-bottom: 15px; line-height: 150%; }

h1, .h1 { font-size: 1.6em; }

h2, .h2 { font-size: 1.3em; }

h3, .h3 { font-size: 1.2em; }

h4, .h4 { font-size: 1em; }

img { max-width: 100%; }

strong { font-weight: 500; }

a { color: #CD0028; }
a:hover { color: #9E001F; }

ol, ul { padding-left: 20px; margin-bottom: 20px; }
ol li, ul li { list-style: outside; }

ol li { list-style-type: decimal; }

ul.links.inline { padding: 0; }
ul.links.inline li { list-style: none; }

.block { margin-bottom: 20px; }

body { font-family: "Open Sans", sans-serif; font-size: 15px; line-height: 160%; color: #444; overflow-x: hidden; font-weight: 400; background: #ffffff; height: 100%; }

/*Page title*/
.region-page-title h1 { margin: 20px 0; }

/*Footer Widget*/
.footerwidget { padding: 20px 0; border-top: 1px solid #f7f7f7; }
.footerwidget .left { float: left; margin: 10px 10px 0 0; }

.copyright { font-size: .65em; }
.copyright p { margin: 20px 0; line-height: 100%; }

/*Google Map*/
.google_map p, .google_map .block { margin: 0; }
.google_map iframe { display: block; }

/*Credit Link*/
.credit-link { text-align: left; }

/*Social Media*/
.social-media { margin: 10px 0; overflow: hidden; float: left; }
.social-media a { width: 25px; height: 25px; color: #fff; float: left; margin: 0 10px 0 0; text-align: center; background: #3262b9; line-height: 220%; font-size: 0.75em; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.social-media a.google-plus { background: #de5973; }
.social-media a.twitter { background: #29C5F6; }
.social-media a.linkedin { background: #069; }
.social-media a.pinterest { background: #C61118; }
.social-media a.rss { background: #FF6D00; }
.social-media a:hover { opacity: .6; }

/*Form*/
input, button, select, textarea { padding: 6px; border: 1px solid #e3e3e3; }

.contact-message-form label { display: block; }

.btn, input[type="submit"] { background: #CD0028; color: #fff; border: 0; padding: 15px 20px; line-height: 100%; border-radius: 0; }

.btn:hover, input[type="submit"]:hover { background: #9E001F; color: #fff; }

/*Comment*/
.comment-wrap { overflow: hidden; margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #F5F5F5; }
.comment-wrap .author-details { float: left; width: 20%; }
.comment-wrap .author-comments { padding-left: 5px; float: left; width: 80%; }
.comment-wrap .author-comments h3 { margin-top: 10px; }
.comment-wrap .author-comments p { margin-bottom: 10px; }

.comment-submitted { padding: 5px 10px; border: 1px solid #eee; display: inline-block; line-height: 100%; }

/*links Inline*/
ul.links.inline li { display: inline-block; padding-right: 10px; }

/*Sidebar Block*/
.sidebar .region h2.title { padding: 10px 0; margin: 0; }
.sidebar .region .content { padding: 10px 0; }

/*Markup generated by Form API.*/
.form-item, .form-actions { margin-top: 1em; margin-bottom: 1em; }

tr.odd .form-item, tr.even .form-item { margin-top: 0; margin-bottom: 0; }

.form-composite > .fieldset-wrapper > .description, .form-item .description { font-size: 0.70em; line-height: 150%; }

label.option { display: inline; font-weight: normal; }

.form-composite > legend, .label { display: inline; font-size: inherit; font-weight: 600; margin: 0; padding: 0; }

.form-checkboxes .form-item, .form-radios .form-item { margin-top: 0.4em; margin-bottom: 0.4em; }

.marker { color: #e00; }

abbr.tabledrag-changed, abbr.ajax-changed { border-bottom: none; }

.form-item input.error, .form-item textarea.error, .form-item select.error { border: 2px solid red; }

/* Testimonials */
.testimonials-wrap { background: #eee; text-align: center; font-size: 1em; line-height: 160%; }

.region-testimonials { margin: 0 auto; }

.testimonials-pic { width: 40px; height: 40px; display: inline-block; vertical-align: bottom; margin-right: 10px; }

.testimonials-pic img { -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }

.testimonials-author { padding: 0 5px; font-size: .75em; color: #555; }

/*Top Widget*/
.topwidget { padding: 20px 0; text-align: center; border-top: 1px solid #f7f7f7; border-bottom: 1px solid #f7f7f7; }

/*Front Page*/
.path-frontpage .feed-icon { display: none; }

.path-frontpage .content_layout { text-align: center; margin: 0 auto; padding: 20px 0; overflow: hidden; }

/*Region Homepage Message*/
/* Last products*/
.region-homepagemessage { padding: 20px 0; text-align: center; }
.region-homepagemessage p, .region-homepagemessage .block { margin: 0; }
.region-homepagemessage h2 { color: #333; text-transform: uppercase; font-size: 28px; font-weight: 600; display: block; margin-bottom: 30px; }
.region-homepagemessage .last-products .views-row { width: 23%; }
.region-homepagemessage .last-products .price { text-align: left; }

/*Outfits*/
.region-abovecontent h2.title { color: #333; text-transform: uppercase; font-size: 28px; font-weight: 600; display: block; margin-bottom: 30px; text-align: center; }

.main-outfits a { color: #333; }

.outfits { text-align: center; }
.outfits article h2 { font-size: 17px; max-height: 22px; overflow: hidden; }
.outfits .tags { font-style: italic; }
.outfits .tags a { color: #8a8a8a; }
.outfits .tags div { display: inline-block; }
.outfits .tags div:not(:last-child):after { content: ','; color: #8a8a8a; }
.outfits .views-row { display: inline-block; width: 31%; vertical-align: top; }
.outfits .more-link { margin-top: 30px; }
.outfits .more-link a { background: #CD0028; padding: 12px 25px; color: white; }
.outfits .more-link a:hover { background: #9E001F; text-decoration: none; }
.outfits .more-link a:active, .outfits .more-link a:visited { text-decoration: none; }

.path-frontpage .region-content .views-field-name a { position: absolute; bottom: 17%; left: 10%; right: 10%; text-align: center; background: rgba(245, 223, 139, 0.76); width: 80%; font-size: 1.5em; line-height: 40px; color: black; }
.path-frontpage .region-content .views-field-name a:hover { text-decoration: none; }
.path-frontpage .views-row:hover .views-field-field-image-to-main a:after { position: absolute; top: 0; left: 0; height: 98%; width: 100%; z-index: 5; background: rgba(0, 0, 0, 0.76); content: 'Перейти'; color: white; text-align: center; line-height: 250px; font-size: 1.5em; font-weight: 600; }
.path-frontpage #block-block-main-category { display: inline-block; max-width: 49%; text-align: right; position: relative; }
.path-frontpage #block-block-main-category .views-row:hover .views-field-field-image-to-main a:after { line-height: 500px; }
.path-frontpage .block-system-main-block { display: inline-block; max-width: 49%; text-align: left; }
.path-frontpage .block-system-main-block .views-row { display: inline-block; position: relative; }

/*Address*/
.address-wrap { color: #fff; text-align: center; padding: 20px 0; background: #555350 center no-repeat; }
.address-wrap h2 { color: #fff; }

.simplenews-subscriptions-block-home-subscription { margin-bottom: 0; }
.simplenews-subscriptions-block-home-subscription h2, .simplenews-subscriptions-block-home-subscription .content, .simplenews-subscriptions-block-home-subscription input, .simplenews-subscriptions-block-home-subscription .form-item, .simplenews-subscriptions-block-home-subscription .form-actions { margin: 0 20px; }
.simplenews-subscriptions-block-home-subscription input { margin-top: 7px; }
.simplenews-subscriptions-block-home-subscription .form-item { font-style: italic; }
.simplenews-subscriptions-block-home-subscription .field--type-email { display: inline-block; }
.simplenews-subscriptions-block-home-subscription .field--type-email label { display: none; }
.simplenews-subscriptions-block-home-subscription .field--type-email .description { display: none; }

/*Bottom Widgets*/
.bottom-widgets { text-align: center; margin: 0 auto; padding-bottom: 30px; }
.bottom-widgets .block h2.title { margin: 5px 0 10px 0; }
.bottom-widgets .row > div { border-right: 1px solid #f7f7f7; }
.bottom-widgets .row > div:last-child { border: 0; }

.path-frontpage .bottom-widgets { padding: 20px 0; }

/*Header*/
.main-header { background-size: cover; position: relative; background: #9E001F; }
.main-header nav { background: none; border: 0; margin: 0; position: relative; min-height: auto; border-radius: 0; }
.main-header .region { position: relative; }
.main-header .block { margin: 0; }

/*Region Header*/
.site-branding { margin: 0; }

.brand.logo { margin-right: 3px; }

.region-header .brand { display: inline-block; vertical-align: middle; color: #444; line-height: 120%; font-size: 1.3em; }
.region-header .brand a { color: #444; }
.region-header .brand .site-branding__slogan { font-size: .7em; }

.region-contact-email .block { margin: 5px 0; }
.region-contact-email p { margin: 0; line-height: 120%; }

/* Region Top Menu */
.top-menu { padding: 10px 0 0 0; text-align: center; font-size: .75em; background: #f9f9f9; }

.region-top-menu { height: 50px; text-align: right; }
.region-top-menu ul { text-align: center; margin: 0; padding: 0; }
.region-top-menu ul li { list-style: none; }
.region-top-menu nav { display: inline-block; }
.region-top-menu nav button.user-icon { background: url("../images/account-filled.png") no-repeat; background-size: contain; height: 35px; width: 35px; display: inline-block; color: transparent; border: none; }
.region-top-menu nav button.user-icon:hover { background: url("../images/account.png") no-repeat; background-size: contain; }
.region-top-menu nav button.user-icon:focus { outline: none; }
.region-top-menu nav .sub-menu { display: none; position: absolute; z-index: 999; background: #f9f9f9; max-width: 180px; border: 1px solid #ccc; text-transform: uppercase; }
.region-top-menu nav .sub-menu li { text-align: left; width: 100%; }
.region-top-menu nav .sub-menu li a { display: block; padding: 5px 10px; color: #333; line-height: 30px; white-space: nowrap; }
.region-top-menu nav .sub-menu li a:hover { background: #444; color: white; text-decoration: none; }
.region-top-menu nav .sub-menu li a:active, .region-top-menu nav .sub-menu li a:visited { text-decoration: none; }
.region-top-menu .block { display: inline-block; vertical-align: top; }
.region-top-menu .block-views-blockwishlist-block-1 { margin: 0 35px; }
.region-top-menu .block-views-blockwishlist-block-1 header { position: relative; }
.region-top-menu .block-views-blockwishlist-block-1 header span { right: 2px; }
.region-top-menu .block-views-blockwishlist-block-1 header a { background: url("../images/heart-filled.png") no-repeat center; background-size: contain; line-height: 35px; width: 70px; display: inline-block; font-size: 0; }
.region-top-menu .block-views-blockwishlist-block-1 header a:hover { background: url("../images/heart.png") no-repeat center; background-size: contain; }
.region-top-menu .block-views-blockwishlist-block-1 .views-row { display: none; }
.region-top-menu .block-views-blockwishlist-block-1 .wishlist-total { margin: 0 0 0 -22px; }
.region-top-menu .cart-block--summary__count, .region-top-menu .wishlist-total { color: #fff; background: #444; font-size: 16px; border-radius: 50%; padding: 0 7px; vertical-align: top; position: absolute; right: -14px; }
.region-top-menu .cart-block--summary { position: relative; }
.region-top-menu span.cart-block--summary__icon { background: url("../images/cart.png") no-repeat; background-size: contain; display: block; height: 35px; width: 35px; }
.region-top-menu span.cart-block--summary__icon.full { background: url("../images/cart-filled.png") no-repeat; background-size: contain; }

.fixed-top-menu { position: fixed; z-index: 9999; top: 7px; right: 20px; }
.fixed-top-menu nav button.user-icon { background: url(../images/user.png) no-repeat; background-size: contain; }
.fixed-top-menu nav button.user-icon:hover { background: url("../images/contacts-filled.png") no-repeat; background-size: contain; }
.fixed-top-menu .block-views-blockwishlist-block-1 { margin: 0; }
.fixed-top-menu .block-views-blockwishlist-block-1 header a { background: url("../images/heart-white.png") no-repeat center; background-size: contain; }
.fixed-top-menu .block-views-blockwishlist-block-1 header a:hover { background: url("../images/heart-filled-white.png") no-repeat center; background-size: contain; }
.fixed-top-menu span.cart-block--summary__icon { background: url(../images/shopping-cart-white.png) no-repeat; background-size: contain; }
.fixed-top-menu span.cart-block--summary__icon.full { background: url("../images/cart-filled-white.png") no-repeat; background-size: contain; }

/*Search Form*/
.fixed-nav .region-search { padding: 0; right: 160px; text-align: right; }
.fixed-nav .region-search input#edit-search-api-fulltext { display: none; }
.fixed-nav .region-search input.form-submit { background: url("../images/search-white.png") no-repeat center !important; }
.fixed-nav .region-search #views-exposed-form-search-results-page-1:hover input#edit-search-api-fulltext { display: inline-block; width: 80%; }
.fixed-nav .region-search #views-exposed-form-search-results-page-1:hover input.form-submit { background: url("../images/search-white.png") no-repeat center #444 !important; }

.search-block-form { margin: 0 auto; }

.region-search { clear: both; padding: 6px 0; }

#views-exposed-form-search-results-page-1 { display: table; margin: 7px; width: 100%; }
#views-exposed-form-search-results-page-1 .form-item, #views-exposed-form-search-results-page-1 .form-actions { display: table-cell; vertical-align: top; }
#views-exposed-form-search-results-page-1 input.form-submit { background: url('../images/search.png?1518596375') no-repeat center #444; font-size: 0; width: 37px; height: 37px; vertical-align: top; }
#views-exposed-form-search-results-page-1 input#edit-search-api-fulltext { width: 100%; }

/*Breadcrumb*/
.breadcrumb { font-size: .85em; background: none; padding: 10px 0 0 0; margin: 0; }
.breadcrumb ul { padding: 0; margin: 0; }
.breadcrumb ul li { display: inline-block; }
.breadcrumb ul li:last-child span { display: none; }

/*Flexslider*/
.flexslider { border: 0; margin: 0; }
.flexslider .slider-caption { display: none; position: absolute; top: 25%; right: 0; left: 0; z-index: 999; width: 100%; text-align: center; font-size: 1em; line-height: 150%; }
.flexslider h2 { font-weight: bold; font-size: 1.3em; display: inline-block; padding: 15px 20px; text-transform: uppercase; }
.flexslider .slider-description { display: inline-block; clear: both; background: #444444; background: rgba(68, 68, 68, 0.71); color: #fff; padding: 5px 10px; margin-bottom: 10px; border-left: 10px solid '$linkColor'; }
.flexslider .more-link { padding: 8px 10px; font-size: .75em; }
.flexslider .slides li { position: relative; }
.flexslider .flex-direction-nav { display: none; position: absolute; top: 50%; width: 100%; }
.flexslider .flex-direction-nav a { font-size: 0; padding: 10px; }
.flexslider .flex-control-paging li a { width: 8px; height: 8px; display: block; background: #fff; cursor: pointer; text-indent: -9999px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.flexslider .flex-control-nav { bottom: 0; }

/*Menu*/
.navbar-default .navbar-toggle { z-index: 999; margin-right: 0; border: 0; border-radius: 0; color: #fff; background: none; padding: 6px 6px; }
.navbar-default .navbar-toggle .icon-bar { display: block; width: 35px; height: 4px; border-radius: 1px; background-color: #333; }
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background: none; }

nav h2 { display: none; }

.menu-base-theme { background: none; }
.menu-base-theme li { margin: 0 10px; border: none; width: 70px; }
.menu-base-theme li:first-child a { background: url("../images/home-filled.png") no-repeat; background-size: contain; }
.menu-base-theme li:first-child a.is-active { background: url("../images/home-filled.png") no-repeat; background-size: contain; }
.menu-base-theme li:first-child a:hover { background: url("../images/home.png") no-repeat; background-size: contain; }
.menu-base-theme li a { color: #444; height: 35px; max-width: 65px; line-height: 35px; padding: 0 0 0 35px; font-size: 0; }
.menu-base-theme li a:hover { line-height: 35px; padding: 0 0 0 35px; color: #CD0028; }
.menu-base-theme li a.highlighted, .menu-base-theme li a.sub-arrow { color: #999; font-size: 22px; padding: 5px; border-radius: 2px; border: 1px solid #DCDCDC; background: #EFEFEF; }
.menu-base-theme li a span.sub-arrow { line-height: 100%; font-size: 2em; }
.menu-base-theme li a.contacts { background: url("../images/phone-filled.png") no-repeat; background-size: contain; height: 35px; width: 35px; display: block; }
.menu-base-theme li a.contacts.is-active { background: url("../images/phone-filled.png") no-repeat; background-size: contain; }
.menu-base-theme li a.contacts:hover { background: url("../images/phone.png") no-repeat; background-size: contain; }
.menu-base-theme li a.arrows { background: url("../images/arrow--filled.png") no-repeat; background-size: contain; }
.menu-base-theme li a.arrows.is-active { background: url("../images/arrow--filled.png") no-repeat; background-size: contain; }
.menu-base-theme li a.arrows:hover { background: url("../images/arrow.png") no-repeat; background-size: contain; }

.region-primary-menu { display: none; border-radius: 3px; width: 100%; }

#block-dodatkovemenu ul { margin: 0; }
#block-dodatkovemenu ul li { list-style: none; display: inline-block; margin: 0 10px; text-transform: uppercase; height: auto; padding: 10px; }
#block-dodatkovemenu ul li a { color: #555350; font-weight: 600; display: block; padding: 10px 15px; }
#block-dodatkovemenu ul li:hover { background: #555350; }
#block-dodatkovemenu ul li:hover a { color: white; text-decoration: none; }

/* Region google map */
.region-google-map { text-align: center; }
.region-google-map .menu { margin-top: 20px; }
.region-google-map .menu li { display: inline-block; }
.region-google-map .menu li a { color: #333; margin: 15px; }
.region-google-map li:not(:last-child) { border-right: 1px solid #8f8f8f; }

/*Footer Menu*/
.footer-menu { margin: 0; border: 0; background: #f9f9f9; color: #fff; }

.region-footer-menu ul { margin: 10px 0; padding: 0; }
.region-footer-menu nav li { display: inline-block; }
.region-footer-menu nav li a { display: block; padding: 2px 15px 2px 0; }

.fixed-nav { z-index: 999; position: fixed !important; top: 0; width: 100%; }
.fixed-nav #block-secondlogo { display: inline-block; }
.fixed-nav #block-secondlogo .content { margin-top: 7px; }
.fixed-nav #block-secondlogo .content img { max-height: 40px; }
.fixed-nav .block-category-menu { display: inline-block; vertical-align: top; }
.fixed-nav #block-categorymenu ul.hierarchical-taxonomy-menu { padding-left: 30px; }
.fixed-nav #block-categorymenu ul.hierarchical-taxonomy-menu li.permanent a { line-height: 55px; padding: 0 20px; }
.fixed-nav #block-categorymenu ul.hierarchical-taxonomy-menu li.permanent ul.sub-menu-left { left: -100px; }
.fixed-nav #block-categorymenu ul.hierarchical-taxonomy-menu li.permanent ul.sub-menu-left a { line-height: 65px; }
.fixed-nav #block-categorymenu ul.hierarchical-taxonomy-menu .sub-rubric { left: 100px; }

#block-secondlogo { display: none; }

#block-categorymenu a:hover { text-decoration: none; }
#block-categorymenu ul.hierarchical-taxonomy-menu { margin: 0; padding-left: 0; position: relative; }
#block-categorymenu ul.hierarchical-taxonomy-menu .sub-rubric { display: none; position: absolute; background: white; border: 1px solid #f9f9f9; left: 200px; height: 0; width: 1000px; z-index: 1; padding-left: 30px; -webkit-box-shadow: 2px 2px 8px 0px rgba(71, 71, 71, 0.75); -moz-box-shadow: 2px 2px 8px 0px rgba(71, 71, 71, 0.75); box-shadow: 2px 2px 8px 0px rgba(71, 71, 71, 0.75); }
#block-categorymenu ul.hierarchical-taxonomy-menu .sub-rubric li { margin: 20px 0 10px 20px; text-align: center; width: 150px; border: 1px solid white; }
#block-categorymenu ul.hierarchical-taxonomy-menu .sub-rubric li:hover { -webkit-box-shadow: 3px 2px 3px 0px rgba(71, 71, 71, 0.75); -moz-box-shadow: 3px 2px 3px 0px rgba(71, 71, 71, 0.75); box-shadow: 3px 2px 3px 0px rgba(71, 71, 71, 0.75); border: 1px solid #cfcfcf; }
#block-categorymenu ul.hierarchical-taxonomy-menu .sub-rubric li a { font-size: 15px; width: 100%; display: block; }
#block-categorymenu ul.hierarchical-taxonomy-menu .sub-rubric li a span { display: block; text-align: center; }
#block-categorymenu ul.hierarchical-taxonomy-menu li.permanent a:focus, #block-categorymenu ul.hierarchical-taxonomy-menu li.permanent a.active { text-decoration: none; }
#block-categorymenu ul.hierarchical-taxonomy-menu li.permanent.menu-item--active, #block-categorymenu ul.hierarchical-taxonomy-menu li.permanent:hover, #block-categorymenu ul.hierarchical-taxonomy-menu li.permanent.selected { background: #CD0028; }
#block-categorymenu ul.hierarchical-taxonomy-menu li.permanent a { color: white; line-height: 65px; padding: 0 30px; margin: 0; display: block; }
#block-categorymenu ul.hierarchical-taxonomy-menu li.permanent ul.sub-menu-left { display: none; z-index: 2; position: absolute; width: 200px; background: #f9f9f9; padding: 0; left: 0; font-size: 0.8em; -webkit-box-shadow: -2px 3px 8px 0px rgba(71, 71, 71, 0.75); -moz-box-shadow: -2px 3px 8px 0px rgba(71, 71, 71, 0.75); box-shadow: -2px 2px 3px 0px rgba(71, 71, 71, 0.75); border: 1px solid #f9f9f9; border-right: none; }
#block-categorymenu ul.hierarchical-taxonomy-menu li.permanent ul.sub-menu-left li { width: 100%; border-bottom: 1px solid #F0F0F0; position: relative; }
#block-categorymenu ul.hierarchical-taxonomy-menu li.permanent ul.sub-menu-left li img { transform: translateY(25%); }
#block-categorymenu ul.hierarchical-taxonomy-menu li.permanent ul.sub-menu-left li span.arr { background: url(../images/forward.png) no-repeat; background-size: contain; display: block; height: 15px; width: 15px; position: absolute; right: 5px; top: 40%; }
#block-categorymenu ul.hierarchical-taxonomy-menu li.permanent ul.sub-menu-left li:hover, #block-categorymenu ul.hierarchical-taxonomy-menu li.permanent ul.sub-menu-left li.selected { background: #444; }
#block-categorymenu ul.hierarchical-taxonomy-menu li.permanent ul.sub-menu-left li:hover a, #block-categorymenu ul.hierarchical-taxonomy-menu li.permanent ul.sub-menu-left li.selected a { color: white; }
#block-categorymenu ul.hierarchical-taxonomy-menu li.permanent ul.sub-menu-left li:hover a img:first-child, #block-categorymenu ul.hierarchical-taxonomy-menu li.permanent ul.sub-menu-left li.selected a img:first-child { display: none; }
#block-categorymenu ul.hierarchical-taxonomy-menu li.permanent ul.sub-menu-left li:hover a img:nth-child(2), #block-categorymenu ul.hierarchical-taxonomy-menu li.permanent ul.sub-menu-left li.selected a img:nth-child(2) { display: inline-block; }
#block-categorymenu ul.hierarchical-taxonomy-menu li.permanent ul.sub-menu-left li:hover span.arr, #block-categorymenu ul.hierarchical-taxonomy-menu li.permanent ul.sub-menu-left li.selected span.arr { background-image: url("../images/forward-hover.png"); height: 18px; width: 18px; top: 35%; }
#block-categorymenu ul.hierarchical-taxonomy-menu li.permanent ul.sub-menu-left li:hover span.arr2, #block-categorymenu ul.hierarchical-taxonomy-menu li.permanent ul.sub-menu-left li.selected span.arr2 { width: 0; height: 0; border-style: solid; border-width: 32px 0 32px 30px; border-color: transparent transparent transparent #444; position: absolute; right: -30px; top: 0; z-index: 6; }
#block-categorymenu ul.hierarchical-taxonomy-menu li.permanent ul.sub-menu-left a { color: black; display: inline-block; width: 100%; padding: 0 15px; }
#block-categorymenu ul.hierarchical-taxonomy-menu li.permanent ul.sub-menu-left a span { margin-left: 15px; }
#block-categorymenu ul.hierarchical-taxonomy-menu li.permanent ul.sub-menu-left a img:nth-child(2) { display: none; }
#block-categorymenu ul.hierarchical-taxonomy-menu li.permanent ul.sub-menu-left ul.sub-menu-right { position: absolute; top: 0; left: 200px; width: 800px; height: inherit; }

/*Demo Typography*/
.bd-example { position: relative; padding: 20px; border: 2px solid #f7f7f9; }

.highlight { padding: 20px; background-color: #f7f7f9; }
.highlight pre { border: 0; background: none; }

.bd-example-type h1, .bd-example-type h2, .bd-example-type h3, .bd-example-type h4, .bd-example-type h5, .bd-example-type h6 { margin: 0; }
.bd-example-type .table td { padding: 15px 0; border-color: #eee; }
.bd-example-type .table tr:first-child td { border-top: 0; }

/*----------------------------
	Contact page
-----------------------------*/
.contact-message-feedback-form { max-width: 650px; margin: 0 auto; border: 1px solid #E9E8ED; padding: 10px 20px; background: #FDFDFD; }

.contact-message-feedback-form .form-text, .contact-message-feedback-form .form-email, .contact-message-feedback-form .form-textarea { width: 100%; }

strong { font-weight: 600; }

.path-contact .block-system-main-block { display: inline-block; width: 57%; }
.path-contact #block-storinkakontaktu { display: inline-block; width: 40%; vertical-align: top; }
.path-contact .with-icon:before { content: ''; display: inline-block; background-size: contain; height: 30px; width: 30px; vertical-align: middle; margin-right: 25px; }
.path-contact .routing:before { background: url("../images/schedule.png") no-repeat; background-size: contain; }
.path-contact .phone:before { background: url("../images/phonec.png") no-repeat; background-size: contain; }
.path-contact .email:before { background: url("../images/email.png") no-repeat; background-size: contain; }
.path-contact .person:before { background: url("../images/contact.png") no-repeat; background-size: contain; }

/*----------------------------
	User Login Form
-----------------------------*/
.user-login-form, .user-form, .user-pass { max-width: 500px; margin: 40px auto; border: 1px solid #e6e6e6; padding: 5px 20px; background: #fdfdfd; }
.user-login-form .form-text, .user-login-form .form-email, .user-form .form-text, .user-form .form-email, .user-pass .form-text, .user-pass .form-email { width: 100%; }

.form-composite > .fieldset-wrapper > .description, .form-item .description { color: #999; font-style: italic; }

/*----------------------------
	Maintainance
-----------------------------*/
.maintenance-page { background: url('../images/maintenance-bg.png?1518596375') #66CBFF center no-repeat; color: #fff; text-align: center; padding-top: 220px; padding-bottom: 100px; color: #000; }
.maintenance-page .brand, .maintenance-page .name-and-slogan { display: inline-block; vertical-align: middle; }
.maintenance-page .site-name a { color: #404040; }
.maintenance-page .site-slogan, .maintenance-page .name-and-slogan { display: none; }

.maintenance-msg { margin: 20px 0; background: rgba(242, 244, 207, 0.88); padding: 20px 30px; display: inline-block; color: #404040; border: 1px solid #fff; box-shadow: 5px 5px 0px #fff; }
.maintenance-msg h1 { text-transform: uppercase; font-weight: bold; }

/*----------------------------
	Profile Page
-----------------------------*/
.path-user .profile > div { display: inline-block; }
.path-user .profile .label { display: block; color: #333; }

/*----------------------------
	Wishlist Page
-----------------------------*/
.wishlist-form .move-wishlist-item { background-color: #499800; }
.wishlist-form .views-field-purchasable-entity .field_foto { width: 100px; display: inline-block; margin: 0 auto 0 auto; }
.wishlist-form .views-field-purchasable-entity .title { display: inline-block; max-width: 60%; vertical-align: top; margin-top: 15px; }

/*----------------------------
	Outfits Page
-----------------------------*/
.outfits .form-item { display: inline-block; text-align: center; }
.outfits .form-item label { background: #e7e7e7; color: #309300; text-decoration: none; padding: 5px 1.5em; border-radius: 20em; cursor: pointer; }
.outfits .form-item label:hover { background: #309300; color: white; }
.outfits .form-item input { display: none; }
.outfits .form-item input:checked + label { background: #309300; color: white; }

/*----------------------------
	Outfit Page
-----------------------------*/
.page-node-type-outfit .layout__region--second { padding: 10px 40px; }
.page-node-type-outfit .layout__region--second .field { margin-bottom: 15px; }
.page-node-type-outfit .layout__region--second .field-title { font-weight: 600; }
.page-node-type-outfit .layout__region--second .field-title:after { content: ':'; }
.page-node-type-outfit .field_tag .field-content { display: inline-block; margin: 15px 0; }
.page-node-type-outfit .field_tag a { background: #e7e7e7; color: #309300; text-decoration: none; padding: 5px 1.5em; border-radius: 20em; cursor: pointer; }
.page-node-type-outfit .field_tag a:hover { background: #309300; color: white; }
.page-node-type-outfit .field_products > .field-title { color: #333; text-transform: uppercase; font-size: 1.3em; font-weight: 600; display: block; margin: 50px 0 30px 0; text-align: center; }
.page-node-type-outfit .field_products .multiple-content > .field-content { display: inline-block; vertical-align: top; border: 2px solid #eeeeee; margin: 5px; padding: 10px; height: 400px; position: relative; text-align: center; width: 23%; }
.page-node-type-outfit .field_products .multiple-content > .field-content:hover { border: 2px solid transparent; -webkit-box-shadow: 0px 0px 23px 3px #aaaaaa; -moz-box-shadow: 0px 0px 23px 3px #aaaaaa; box-shadow: 0px 0px 23px 3px #aaaaaa; }

/**********************************************************/
/*                 CHECKOUT PAGE                          */
/**********************************************************/
div.address-container-inline > .form-item label { display: none; }

.commerce-checkout-flow-multistep-default #edit-payment-information-billing-information label { display: none; }
.commerce-checkout-flow-multistep-default #edit-payment-information-billing-information .form-tel, .commerce-checkout-flow-multistep-default #edit-payment-information-billing-information .given-name, .commerce-checkout-flow-multistep-default #edit-payment-information-billing-information .family-name, .commerce-checkout-flow-multistep-default #edit-payment-information-billing-information .address-line1, .commerce-checkout-flow-multistep-default #edit-payment-information-billing-information .locality, .commerce-checkout-flow-multistep-default #edit-payment-information-billing-information .js-text-full { width: 250px; }
.commerce-checkout-flow-multistep-default #edit-payment-information-billing-information .form-item-payment-information-billing-information-address-0-address-address-line1, .commerce-checkout-flow-multistep-default #edit-payment-information-billing-information .form-item-payment-information-billing-information-address-0-address-locality { display: inline-block; margin: 15px 15px 15px 0; }

.form-item-sidebar-coupon-redemption-form-code input { width: 250px; }

input.delete-order-item { background: url("../images/delete.png") no-repeat; background-size: contain; font-size: 0; height: 35px; width: 35px; }
input.delete-order-item:hover { background: url("../images/delete.png") no-repeat; background-size: contain; }

.cart-form #edit-actions { text-align: right; margin-top: 2em; margin-bottom: 5em; }

.language-switcher-language-url { margin-bottom: 0; }
.language-switcher-language-url ul { margin: 0; }
.language-switcher-language-url li { display: inline-block; }
.language-switcher-language-url li a { display: block; height: 40px; width: 55px; font-size: 0; }
.language-switcher-language-url .ru a { background: url("../images/ru.png") no-repeat; background-size: contain; }
.language-switcher-language-url .uk a { background: url("../images/ua.png") no-repeat; background-size: contain; }

.wishlist-block { text-align: center; }
.wishlist-block .views-row { background: #f5df8b; vertical-align: top; margin: 15px 0; padding: 5px 10px 2px 10px; position: relative; text-align: center; }

.block-facets, .block-hierarchical-taxonomy-menu { position: relative; }
.block-facets h2, .block-hierarchical-taxonomy-menu h2 { background-color: #333; padding-left: 50px !important; color: white; }
.block-facets h2:before, .block-hierarchical-taxonomy-menu h2:before { content: ''; display: inline-block; height: 30px; width: 30px; background: #00b0ff; position: absolute; left: 10px; }
.block-facets ul li, .block-hierarchical-taxonomy-menu ul li { list-style: none; }

.block-facet-blockproducts-size ul, .block-facet-blockproducts-rozmir ul, .block-facet-blockrozmir ul, .block-facet-blocksize ul { padding-left: 5px; }
.block-facet-blockproducts-size ul li, .block-facet-blockproducts-rozmir ul li, .block-facet-blockrozmir ul li, .block-facet-blocksize ul li { list-style: none; background: #e6e6e6; display: inline-flex; margin: 3px; text-align: center; }
.block-facet-blockproducts-size ul li a, .block-facet-blockproducts-rozmir ul li a, .block-facet-blockrozmir ul li a, .block-facet-blocksize ul li a { display: block; line-height: 30px; width: 58px; text-align: center; color: #333333; }
.block-facet-blockproducts-size ul li a:hover, .block-facet-blockproducts-size ul li a:active, .block-facet-blockproducts-size ul li a:focus, .block-facet-blockproducts-rozmir ul li a:hover, .block-facet-blockproducts-rozmir ul li a:active, .block-facet-blockproducts-rozmir ul li a:focus, .block-facet-blockrozmir ul li a:hover, .block-facet-blockrozmir ul li a:active, .block-facet-blockrozmir ul li a:focus, .block-facet-blocksize ul li a:hover, .block-facet-blocksize ul li a:active, .block-facet-blocksize ul li a:focus { text-decoration: none; background-color: #666; color: white; }
.block-facet-blockproducts-size ul li a.is-active, .block-facet-blockproducts-rozmir ul li a.is-active, .block-facet-blockrozmir ul li a.is-active, .block-facet-blocksize ul li a.is-active { background-color: #555; color: white; }

.block-hierarchical-taxonomy-menu h2:before { background: url("../images/moleskine.png") no-repeat; background-size: contain; }
.block-hierarchical-taxonomy-menu ul.hierarchical-taxonomy-menu { padding-left: 0; }
.block-hierarchical-taxonomy-menu ul.hierarchical-taxonomy-menu li a { display: block; border-left: 7px solid transparent; line-height: 45px; color: #333333; }
.block-hierarchical-taxonomy-menu ul.hierarchical-taxonomy-menu li a img { vertical-align: middle; margin: 0 20px; }
.block-hierarchical-taxonomy-menu ul.hierarchical-taxonomy-menu li a:hover { border-left: 7px solid #DE2549; -webkit-box-shadow: 0px 0px 5px 1px #999999; -moz-box-shadow: 0px 0px 5px 1px #999999; box-shadow: 0px 0px 5px 1px #999999; }
.block-hierarchical-taxonomy-menu ul.hierarchical-taxonomy-menu li a:hover, .block-hierarchical-taxonomy-menu ul.hierarchical-taxonomy-menu li a:active, .block-hierarchical-taxonomy-menu ul.hierarchical-taxonomy-menu li a:focus { text-decoration: none; }

.block-facet-blockproducts-color h2:before, .block-facet-blockcolor h2:before { background: url("../images/color-wheel.png") no-repeat; background-size: contain; }
.block-facet-blockproducts-color ul li, .block-facet-blockcolor ul li { display: inline-block; margin: 3px; }
.block-facet-blockproducts-color ul li a span, .block-facet-blockcolor ul li a span { border: 5px double #ededed; display: block; color: transparent; height: 28px; width: 50px; }
.block-facet-blockproducts-color ul li a span.facet-item__status, .block-facet-blockcolor ul li a span.facet-item__status { display: none; }
.block-facet-blockproducts-color ul li a:hover, .block-facet-blockproducts-color ul li a:active, .block-facet-blockproducts-color ul li a:focus, .block-facet-blockcolor ul li a:hover, .block-facet-blockcolor ul li a:active, .block-facet-blockcolor ul li a:focus { text-decoration: none; }
.block-facet-blockproducts-color ul li a.is-active span, .block-facet-blockcolor ul li a.is-active span { border: 5px double #DE2549; }

.block-facet-blockproducts-size h2:before, .block-facet-blocksize h2:before { background: url("../images/footwear.png") no-repeat; background-size: contain; }

.block-facet-blockproducts-rozmir h2:before, .block-facet-blockrozmir h2:before { background: url("../images/clothes-size.png") no-repeat; background-size: contain; }

.products .views-row { display: inline-block; vertical-align: top; border: 2px solid #eeeeee; margin: 5px; padding: 10px; height: 400px; position: relative; text-align: center; }
.products .views-row:hover { border: 2px solid transparent; -webkit-box-shadow: 0px 0px 23px 3px #aaaaaa; -moz-box-shadow: 0px 0px 23px 3px #aaaaaa; box-shadow: 0px 0px 23px 3px #aaaaaa; }

.catalog-image { text-align: center; }

.catalog-image a { height: 280px; line-height: 280px; text-align: center; }
.catalog-image a img { vertical-align: middle; }

.product-label { font-size: 13px; line-height: 15px; margin: 15px auto; max-height: 45px; overflow: hidden; }

.catalog-price { position: absolute; bottom: 15px; }
.catalog-price div { display: inline; }
.catalog-price div:last-child { font-size: 25px; margin-left: 7px; }

.wishlist-button { bottom: 15px; right: 15px; position: absolute; display: block; font-size: 0; height: 30px; width: 30px; background: url("../images/heart.png") no-repeat center; background-size: contain; }
.wishlist-button:hover, .wishlist-button.added { background: url("../images/heart-filled.png") no-repeat center; background-size: contain; }

.catalog-products .views-row { width: 30%; }

/*----------------------------
	Product Page
-----------------------------*/
.path-product .js-form-type-number label { margin-right: 20px; }
.path-product input[type=number]::-webkit-inner-spin-button, .path-product input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
.path-product input[type=number] { -moz-appearance: textfield; }
.path-product .js-form-type-number input { width: 50px; height: 43px; line-height: 1.7; padding: 0; margin: 0; padding-left: 20px; border: 1px solid #eee; }
.path-product .js-form-type-number input:focus { outline: 0; }
.path-product .quantity-button { background: #ccc; display: inline; cursor: pointer; padding: 9px 18px; text-align: center; color: #333; font-size: 20px; font-family: "Trebuchet MS", Helvetica, sans-serif !important; line-height: 1.8; -webkit-transform: translateX(-100%); transform: translateX(-100%); -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; }
.path-product article a { color: #444; }
.path-product article .buy-form .button--primary { margin-left: 30px; padding-right: 45px; background-image: url(../images/buy.png); background-repeat: no-repeat; background-position: 80px; }
.path-product article .buy-form .button--primary:after { content: 'bn v'; display: inline-block; height: 30px; width: 30px; }
.path-product article .inline div { display: inline-block; }
.path-product article .title { color: #000; font-weight: 600; }
.path-product article .sku { color: #888; }
.path-product article .field_mark form div { vertical-align: unset; display: inline-block; }
.path-product article .field_mark .vote-result { margin-left: 10px; }
.path-product article .field_material .field-title:after { content: ':'; }
.path-product article .default-price { font-size: 30px; line-height: 45px; color: #444; font-weight: 600; }
.path-product article [data-drupal-selector="edit-purchased-entity-0-attributes-attribute-size"] { display: inline-block; }
.path-product article [data-drupal-selector="edit-purchased-entity-0-attributes-attribute-rozmir"] { display: inline-block; }
.path-product article .size-information { display: inline-block; margin-left: 15px; }
.path-product article .size-information:before { content: ""; display: block; background: url("../images/size_r.png") no-repeat; background-size: contain; width: 46px; height: 18px; float: left; margin-right: 10px; margin-top: 5px; }
.path-product article .color-box div { width: 30px; height: 30px; border-radius: 50%; }
.path-product article [data-drupal-selector="edit-purchased-entity-0-attributes-attribute-kolir"] .product--rendered-attribute__selected ~ label.option { border: 2px solid #707070 !important; border-radius: 50% !important; }
.path-product article .form-item-purchased-entity-0-attributes-attribute-size label { height: 45px; width: 45px; text-align: center; line-height: 45px; background: #ccc; color: black; }
.path-product article .form-item-purchased-entity-0-attributes-attribute-size .product--rendered-attribute__selected ~ label.option { border: none; background: #444; color: white; }
.path-product article .form-item-purchased-entity-0-attributes-attribute-rozmir label { height: 45px; width: 45px; text-align: center; line-height: 45px; background: #ccc; color: black; }
.path-product article .form-item-purchased-entity-0-attributes-attribute-rozmir .product--rendered-attribute__selected ~ label.option { border: none; background: #444; color: white; }
.path-product article input[data-drupal-selector="edit-wishlist"] { background: url("../images/heart.png") no-repeat; background-size: contain; font-size: 0; height: 50px; width: 50px; vertical-align: super; margin-left: 15px; }
.path-product article .body { margin: 50px 0; }
.path-product article .body .field-title { color: black; font-weight: 500; font-size: 1.3em; margin-bottom: 20px; }
.path-product article section { margin: 50px 0; }
.path-product article section #comment-form label { display: none; }
.path-product article section #comment-form input.form-email, .path-product article section #comment-form textarea { width: 90%; }
.path-product article section #comment-form label[for="edit-name"] { display: inline-block; }
.path-product article section #comment-form input[name="name"] { width: 76%; }
.path-product article section .user-picture, .path-product article section .author-details { display: inline-block; float: left; }
.path-product article .little-image { display: inline-block; }
.path-product article .image-big { display: inline-block; text-align: center; }

.similar-products { text-align: center; }
.similar-products .views-row { width: 20%; }

.block-views-blockproducts-block-block-2 h2 { text-align: center; font-size: 1.5em; }

.region-under-content .views-row { display: inline-block; width: 250px; height: 430px; }
