/*Header*/

.main-header {
    background-size: cover;
    position: relative;
    background: $headerBGColor;

    nav {
        background: none;
        border: 0;
        margin: 0;
        position: relative;
        min-height: auto;
        border-radius: 0;
    }

    .region {
        position: relative;
    }

    .block {
        margin: 0;
    }
}

/*Region Header*/

.site-branding {
    margin: 0;
}

.brand.logo {
    margin-right: 3px;
}

.region-header .brand {
    display: inline-block;
    vertical-align: middle;
    color: $headerTextColor;
    line-height: 120%;
    font-size: 1.3em;

    a {
        color: $headerTextColor;
    }

    .site-branding__slogan {
        font-size: .7em;
    }
}

.region-contact-email {



    .block {
        margin: 5px 0;
    }

    p {
        margin: 0;
        line-height: 120%;
    }
}

/* Region Top Menu */

.top-menu {
    padding: 10px 0 0 0;
    text-align: center;
    font-size: .75em;
    background: #f9f9f9;
}

.region-top-menu {

    height: 50px;
    text-align: right;

    ul {
        text-align: center;
        margin: 0;
        padding: 0;
        li {
            list-style: none;
        }
    }

    nav {
        display: inline-block;

        button.user-icon {
            background: url("../images/account-filled.png") no-repeat;
            background-size: contain;
            height: $iconHeight;
            width: $iconWidth;
            display: inline-block;
            color: transparent;
            border: none;

            &:hover{
                background: url("../images/account.png") no-repeat;
                background-size: contain;
            }
            &:focus{
                outline: none;
            }
        }

        .sub-menu {
            display: none;
            position: absolute;
            z-index: 999;
            background: $menuDropDownBg;
            max-width: 180px;
            border: 1px solid #ccc;
            text-transform: uppercase;

            li {
                text-align: left;
                width: 100%;

                a {
                    display: block;
                    padding: 5px 10px;
                    color: #333;
                    line-height: 30px;
                    white-space:nowrap;

                    &:hover{
                        background: $menuDropDownHoverBg;
                        color: white;
                        text-decoration: none;
                    }
                    &:active, &:visited {
                        text-decoration: none;
                    }
                }
            }
        }
    }


    .block {
        display: inline-block;
        vertical-align: top;
    }
    .block-views-blockwishlist-block-1 {
        margin: 0 35px;

        header{
            position: relative;

            & span{
                right: 2px;
            }
        }
        header a {
            background: url("../images/heart-filled.png") no-repeat center;
            background-size: contain;
            line-height: $iconHeight;
            width: 70px;
            display: inline-block;
            font-size: 0;

            &:hover{
                background: url("../images/heart.png") no-repeat center;
                background-size: contain;
            }
        }

        .views-row{
            display: none;
        }
        .wishlist-total{
            margin: 0 0 0 -22px;
        }
    }


    .cart-block--summary__count, .wishlist-total{
        color: #fff;
        background: $cartNumberColor;
        font-size: 16px;
        border-radius: 50%;
        padding: 0 7px;
        vertical-align: top;
        position: absolute;
        right: -14px;
    }
    .cart-block--summary{
        position: relative;
    }

    span.cart-block--summary__icon {
        background: url("../images/cart.png") no-repeat;
        background-size: contain;
        display: block;
        height: $iconHeight;
        width: $iconHeight;

        &.full{
            background: url("../images/cart-filled.png") no-repeat;
            background-size: contain;
        }

    }
}



.fixed-top-menu{
    position: fixed;
    z-index: 9999;
    top: 7px;
    right: 20px;


    nav {

        button.user-icon {
            background: url(../images/user.png) no-repeat;
            background-size: contain;

            &:hover {
                background: url("../images/contacts-filled.png") no-repeat;
                background-size: contain;
            }
        }
    }

    .block-views-blockwishlist-block-1 {
        margin: 0;

        header a {
            background: url("../images/heart-white.png") no-repeat center;
            background-size: contain;

            &:hover {
                background: url("../images/heart-filled-white.png") no-repeat center;
                background-size: contain;
            }
        }
    }

    span.cart-block--summary__icon {
        background: url(../images/shopping-cart-white.png) no-repeat;
        background-size: contain;


        &.full{
            background: url("../images/cart-filled-white.png") no-repeat;
            background-size: contain;
        }

    }


}

/*Search Form*/

.fixed-nav .region-search {
    padding: 0;
    right: 160px;
    text-align: right;

    input#edit-search-api-fulltext {
        display: none;
    }

    input.form-submit {
        background: url("../images/search-white.png") no-repeat center!important;
    }

    #views-exposed-form-search-results-page-1:hover{

        input#edit-search-api-fulltext {
            display: inline-block;
            width: 80%;
        }

        input.form-submit {
            background: url("../images/search-white.png") no-repeat center $menuDropDownHoverBg!important;
        }
    }
}

.search-block-form {
    margin: 0 auto;
}

.region-search {
    clear: both;
    padding: 6px 0;
}

#views-exposed-form-search-results-page-1 {
    display: table;
    margin: 7px;
    width: 100%;

    .form-item,
    .form-actions {
        display: table-cell;
        vertical-align: top;
    }

    input.form-submit {
        background: image-url("search.png") no-repeat center $menuDropDownHoverBg;
        font-size: 0;
        width: 37px;
        height: 37px;
        vertical-align: top;
    }

    input#edit-search-api-fulltext {
        width: 100%;
    }
}

/*Breadcrumb*/

.breadcrumb {
    font-size: .85em;
    background: none;
    padding: 10px 0 0 0;
    margin: 0;

    ul {
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
            &:last-child span {
                display: none;
            }
        }
    }
}
