
/* Testimonials */

.testimonials-wrap{
	background: #eee;
	text-align: center;
	font-size: 1em;
	line-height: 160%;
}

.region-testimonials{
	margin: 0 auto;
}

.testimonials-pic{
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: bottom;
	margin-right: 10px;

}

.testimonials-pic img{
	@include border-radius(50%);
}

.testimonials-author{
	padding: 0 5px;
	font-size: .75em;
	color: #555;
}


/*Top Widget*/

.topwidget{
	padding: 20px 0;
	text-align: center;
	border-top: 1px solid #f7f7f7;
	border-bottom: 1px solid #f7f7f7;

	.block h2.title{}

	.block .content{}
}


/*Front Page*/

.path-frontpage .feed-icon{
  display: none;
}

.path-frontpage .content_layout{
	text-align: center;
	//max-width: 750px;
	margin: 0 auto;
	padding: 20px 0;
	overflow: hidden;
}

/*Region Homepage Message*/
/* Last products*/

.region-homepagemessage{
	padding: 20px 0;
	text-align: center;

	p, .block{ margin: 0; }
    h2{
        color: #333;
        text-transform: uppercase;
        font-size: 28px;
        font-weight: 600;
        display: block;
        margin-bottom: 30px;
    }

	.last-products{
		.views-row{
			width: 23%;
		}

        .price{
            text-align: left;
        }
	}
}


/*Outfits*/

.region-abovecontent h2.title{
    color: #333;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    display: block;
    margin-bottom: 30px;
    text-align: center;
}


.main-outfits {

    a {
        color: #333;
    }

}

.outfits {
    text-align: center;

    article h2 {
        font-size: 17px;
        max-height: 22px;
        overflow: hidden;
    }

    .tags {
        font-style: italic;

        a{ color: #8a8a8a;}

        div { display: inline-block;}

        div:not(:last-child):after{
            content: ',';
            color: #8a8a8a;
        }
    }

    .views-row {
        display: inline-block;
        width: 31%;
        vertical-align: top;
    }

    .more-link{
        margin-top: 30px;

        a{
            background: $linkColor;
            padding: 12px 25px;
            color: white;

            &:hover{
                background: $linkColorHover;
				text-decoration: none;
            }
            &:active, &:visited {
                text-decoration: none;
            }
        }
    }
}


.path-frontpage{

	.region-content .views-field-name a{
		position: absolute;
		bottom: 17%;
		left: 10%;
		right: 10%;
		text-align: center;
		background: rgba(245, 223, 139, 0.76);
		width: 80%;
		font-size: 1.5em;
		line-height: 40px;
		color: black;

		&:hover {
			text-decoration: none;
		}
	}

    .views-row:hover .views-field-field-image-to-main a:after{
        position: absolute;
        top: 0;
        left: 0;
        height: 98%;
        width: 100%;
        z-index: 5;
        background: rgba(0, 0, 0, 0.76);
        content: 'Перейти';
        color: white;
        text-align: center;
        line-height: 250px;
        font-size: 1.5em;
        font-weight: 600;
    }

	#block-block-main-category{
		display: inline-block;
		max-width: 49%;
		text-align: right;
		position: relative;
        .views-row:hover .views-field-field-image-to-main a:after {
            line-height: 500px;
        }
	}

	.block-system-main-block{
		display: inline-block;
		max-width: 49%;
		text-align: left;
		.views-row{
			display: inline-block;
			position: relative;
		}
	}
}


/*Address*/

.address-wrap{
	color: #fff;
	text-align: center;
	padding: 20px 0;
	background: #555350 center no-repeat;

	h2{ color: #fff; }
}



// Subscribe
.simplenews-subscriptions-block-home-subscription{
	margin-bottom: 0;

	h2, .content, input, .form-item, .form-actions{
		//display: inline-block;
		margin: 0 20px;
	}
    input{
        margin-top: 7px;
    }

	.form-item{
		font-style: italic;
	}

	.field--type-email{
		display: inline-block;

		label{
			display: none;
		}

		.description{
			display: none;
		}
	}
}


/*Bottom Widgets*/

.bottom-widgets{
	text-align: center;
	margin: 0 auto;
	padding-bottom: 30px;

	.block h2.title{
		margin: 5px 0 10px 0;
	}

	.row > div{
		border-right: 1px solid #f7f7f7;

		&:last-child{
			border: 0;
		}
	}
}

.path-frontpage .bottom-widgets{
	padding: 20px 0;
}