/* Colors*/

$brightRed: #CD0028;
$nonBrightRed: #AC1C38;
$darkRed: #9E001F;
$darkRosy: #DE2549;
$lightRosy: #DE4260;

$brightGreen: #3EBF00;
$nonBrightGreen: #459F1A;
$darkGreen: #309300;
$salat: #5CD423;
$lightSalat: #6FD43F;


/*Variables*/

$fontFamily: 'Open Sans', sans-serif;
$baseFontSize: 15px;
$bodyBGColor: #ffffff;
$baseFontColor: #444;



$linkColor: #CD0028;
$linkColorHover: #9E001F;
$greyOne : #eee;


/*Header*/

$headerBGColor: #9E001F;
$headerTextColor: $baseFontColor;
$iconHeight: 35px;
$iconWidth: 35px;
$cartNumberColor: #499800;
$widthLeftDownMenu: 200px;


/*Menu Color*/

$menuTextColor: $baseFontColor;
$menuTextActiveColor: $linkColor;
$menuDropDownBg: #f9f9f9;
$menuDropDownHoverBg: #499800;


/*Mixins*/

@mixin globalButton(){
	background: $linkColor;
	color: #fff;
	border: 0;
	padding: 15px 20px;
	line-height: 100%;
	border-radius: 0;
}

@mixin globalButtonHover(){
	background: $linkColorHover;
	color: #fff;
}