
/*Variables*/

$fontFamily: 'Open Sans', sans-serif;
$baseFontSize: 15px;
$bodyBGColor: #ffffff;
$baseFontColor: #444;

//$skyBlue: #5777f3;


//$linkColor: $skyBlue;
$linkColor: #CD0028;
$linkColorHover: #499800;
//$linkColorHover: $skyBlue;
$greyOne : #eee;


/*Header*/

$headerBGColor: #9E001F;
$headerTextColor: $baseFontColor;
$iconHeight: 35px;
$iconWidth: 35px;
$cartNumberColor: #499800;
//$cartNumberColor: $skyBlue;
$widthLeftDownMenu: 200px;


/*Menu Color*/

$menuTextColor: $baseFontColor;
$menuTextActiveColor: $linkColor;
$menuDropDownBg: #f9f9f9;
//$menuDropDownHoverBg: $skyBlue;
$menuDropDownHoverBg: #499800;


/*Mixins*/

@mixin globalButton(){
	background: $linkColor;
	color: #fff;
	border: 0;
	padding: 15px 20px;
	line-height: 100%;
	border-radius: 0;
}

@mixin globalButtonHover(){
	background: $linkColorHover;
	color: #fff;
}